@tailwind base;
@tailwind components;
@tailwind utilities;

.image-embed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-embed-text {
  display: block;
  width: 100%;
  text-align: center;
}
